<nav>
  <div class="logo">
    <LinkTo @route="index"><h2>OMDb</h2></LinkTo>
  </div>
  <div class="nav-links">
    <ol>
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="movie-list">Movie List</LinkTo></li>
    </ol>
  </div>
</nav>